<div class="content" ng-app="app">
    <div class="row" ng-controller="mainController">
        <div class="col-md-6">
            <h2>Czy na pewno chcesz dokonać zakupu?</h2>
            <br><br><br>
            <button type="submit" class="btn btn-warning" ng-click="showData()">Zapłać</button>
        </div>
        <div class="col-md-6">
            <h2>Wróć do poprzedniej strony</h2>
            <br><br><br>
            <button type="submit" class="btn btn-warning" ng-click="go('/view1')">Wróć</button>
        </div>
    </div>
</div>