<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="row" >
                <div class="col-md-4">
                    <select>
                        <option selected disabled>Tematy</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <div id="subjects">Christmas, Cars, Private Universities</div>
                </div>

            </div>
            <br><br><br><br>

            <div id="customForm">
                <div class="form form-horizontal">
                    <div class="form-inline">
                        <label>Imię:</label>
                        <input class="form-control" ng-model="name" type="text">
                    </div>
                    <br>

                    <div class="form-inline">
                        <label>Nazwisko:</label>
                        <input class="form-control" ng-model="lastname" type="text">
                    </div>
                    <br>

                    <div class="form-inline">
                        <label>Firma:</label>
                        <input class="form-control" ng-model="company" type="text">
                    </div>
                    <br>

                    <div class="form-inline">
                        <label>Email:</label>
                        <input class="form-control" ng-model="email" type="email">
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-6"><h2>Wybierz branżę o działalności na YouTube, której chcesz się
            dowiedzieć.
            Dostaniesz PDF z pełną analizą, wykresami i korzystnymi poradami od analityków MUSE</h2>
        </div>
    </div>

    <br><br><br>
    <button class="btn btn-warning">Zapłać</button>
</div>




